---json
{
 "permalink": "rss.xml",
 "eleventyExcludeFromCollection": true,
 "metadata" : {
  "title" : "Oppskriftsboka",
  "subtitle" : "Samling med oppskrifter til både middag, dessers og snacks",
  "url" : "https://mat.arnstad.xyz/",
  "feedUrl" : "https://mat.arnstad.xyz/rss.xml",
  "author" : {
   "name" : "Fredrik Arnstad",
   "email" : "fredrik.arnstad@icloud.com"
   }
 }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">

<feed>
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <language>no-nb</language>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <atom:link href="{{ metadate.feedUrl }}" rel="self" type="application/rss+xml" />
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.oppskrifter %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
