<footer class="centering">

	<p>Laget med <a href="https://www.11ty.dev">11ty</a></p>

	<h4>Andre sider</h4>
	<p><a href="https://arnstad.xyz">Blog</a></p>

	<p class="rss">
	<i>
		<a href="/rss.xml">atom/rss feed</a>
	</i>
	</p>
	                                                                 	
</footer>                                                                	
