footer {
	display: grid;
	justify-items: center;
	font-size: 0.7em;
	margin-top: 10em;

	& > * {
		margin: 0.5em;
	}
}

.rss {
	border-top: 1px solid var(--background-color-light);
	width: fit-content;
	padding: 0.5em 3em;
}
