---
layout: 'base.njk'
title: Oppskriftsboka
eleventyExcludeFromCollections: true
---

<h1 class="page__title centering">Velkommen til oppskriftsboka</h1>

<img src="/assets/images/coverpage.webp" alt="Kjøkkenbord med mat og pynt">

<div class="tags">
<section>
  {% include 'tags.njk' %}
</section>
</div>

<div class="grid c2">
    {% for post in collections.oppskrifter %}
        <a class="recipe" href="{{ post.url }}">
        <img src="{{ post.data.img }}" alt="">
        <p>{{post.data.title}}</p>
        </a>
    {% endfor %}
</div>
